body
{
    background: #ddd;
    /* load font in order */
    font-family: Rubik, sans-serif;
    font-size: 24px;
}
h1, h2, h3, h4, h5, h6{
    font-family: DM Serif Display, serif;
}
h2 {
    
    margin-bottom: -15x;
    padding-bottom: 5px;
    /* text-decoration: underline; */
    
    border-bottom: 2px #CCC solid;
    /* display: none; */
}
/* levels
block: header, paragraph, list 
inline: strong, em, bold,... take up as much space as needed
*/
ul {
    padding-left: 16px;
    
}
/* specificity comes first then order(most recently added comes first) */
.blue {
    color: blue;
    font-weight: bold;
    /* font-weight of class blue still apply cuz no conflict with any upper specificity selector */
}

#green {
    color: green;
}
.normal
{
    font-weight: normal;
}
.different{
    color: purple;
}
.container
{
    background: white;
    border-radius: 50px;
    box-shadow: 10px 10px 25px #5d5c5c;
    /* first 2: x, y coordinate for the light source but inverse, move up then left can try it using shadow editor in browser*/
    margin: 90px auto;
    /* 1st one top-bottom 2nd left right */
    padding: 70px;
    width: 800px;
    
    /* margin-top: 90px; */
}